body {
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: helvetica;
}

.sec-one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 15px 180px;
}

.header-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

.content-one{
    display: flex;
    margin: 80px 0;
    justify-content: space-between;
    gap: 60px;
}

.text{
    display: flex;
    flex-direction: column;
}

button{
    width: 70px;
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
    padding: 5px;
}

#main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#second-text {
    font-size: 18px;
    color: #E5E7EB;
}

#logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.sec-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 180px;
}

.items-two {
    display: flex;
    gap: 30px;
    margin: 40px 0;
    text-align: center;
}

.info-two img {
    width: 170px;
    height: 170px;
    border-radius: 15px;
}

.info-two {
    color: rgb(78, 76, 76);
    font-size: 18px;
}

#header-two {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}